* {
  margin: 0;
  padding: 0;
}

body,
html {
  background: linear-gradient(45deg, rgb(236, 235, 213), rgb(255, 230, 230));
}

header {
  display: flex;
  justify-content: center;
  padding: 3%;
}

header h1 {
  font-family: "Comforter Brush", cursive;
  font-size: 4em;
  color: rgb(110, 58, 20);
  padding-left: 2%;
}

.product-img {
  width: 265px;
  height: 280px;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.item-title {
  font-size: 2.3rem;
  font-weight: 500;
  font-family: "Comforter Brush", cursive;
  min-height: 70px;
}

.details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.items {
  font-family: "Roboto Condensed", sans-serif;
  background: #f2ede7;
  border-radius: 8px;
  width: 120px;
  display: flex;
  font-size: 18px;
  height: 30px;
  overflow: hidden;
}

.items__control {
  width: 40px;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-align: center;
}

.items__control:hover {
  background: #eb5a1e;
  color: #fff;
}

.items__current {
  width: 40px;
}

.items.items--small {
  width: 90px;
  font-size: 16px;
  height: 26px;
  text-align: center;
}

.items.items--small .items__control {
  width: 30px;
}

.items.items--small .items__current {
  width: 30px;
}

.price {
  text-align: left;
}

.price__weight {
  color: #6c757d !important;
  font-size: 80%;
  line-height: 1;
}

.price__currency {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.btn-outline-warning {
  color: #eb5a1e;
  border-color: #eb5a1e;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #eb5a1e;
  border-color: #eb5a1e;
}

.cart-item__top {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 15px;
}

.cart-item__img img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.cart-item__desc {
  padding-top: 15px;
  padding-left: 45px;
  max-width: 208px;
}

.cart-item__title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 5px;
}

.cart-item__weight {
  color: #6c757d !important;
  font-size: 80%;
  line-height: 1;
  margin-bottom: 15px;
}

.cart-item__details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-item__details .price__currency {
  font-size: 18px;
  margin-left: 15px;
}

.delete__item {
  font-size: 24px;
  color: red;
  margin-left: 50px;
  cursor: pointer;
}

.cart-total {
  font-size: 18px;
  font-weight: 500;
}

.btn-success {
  margin-top: 2%;
}

.free {
  color: #0ea107;
}

.total-price {
  color: #eb5a1e;
}

.hryvnya {
  color: #eb5a1e;
}

.none {
  display: none;
}
